.menu-panel {
    top: auto;
    bottom: 0;
    width: 100vw;
    height: 34px;
    flex-direction: row;
}
.options-button,
.reset-button,
.print-button {
    margin: 0 4px;
}
.zoom-control {
    display: none;
}
.menu {
    bottom: 59px;
    left: 2px;
    top: auto;
}
.plan-logo {
    width: 80px;
    display: block;
}
.lynden-row .plan-logo {
    width: 120px;
}

@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) and (stroke-color:transparent) {
    .button-switch:before { 
        margin-left: -4px;
    }
    .menu {
        bottom: 174px;
    }
}}
