html body {
	margin: 0;
    padding: 0;
    color: #555;
}
#upload-plan {
	display: none;
}
.inner-row {
	display: grid;
	background-color: #fff;
	position: relative;
	max-width: 1200px;
	left: 50%;
	transform: translate(-50%, 0);
	padding: 1rem 2rem;
}
[data-schemaid="root"] > .je-header {
    display: flex;
}
[data-schemaid="root"] > .je-header .btn-group {
    margin-left: auto !important;
}